@mixin generateIcon($src) {
  -webkit-mask-image: url($src);
  mask-image: url($src);
}

.mm-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
}

.mm-icon-grid {
  @include generateIcon('https://api.iconify.design/material-symbols/grid-view.svg');
}

.mm-icon-explore {
  @include generateIcon('https://api.iconify.design/ic/outline-explore.svg');
}

.mm-icon-file {
  @include generateIcon('https://api.iconify.design/arcticons/atomic-science.svg');
}

.mm-icon-copy {
  @include generateIcon('https://api.iconify.design/material-symbols/copy-all-sharp.svg');
}

.mm-icon-cut {
  @include generateIcon('https://api.iconify.design/material-symbols/cut.svg');
}

.mm-icon-paste {
  @include generateIcon('https://api.iconify.design/material-symbols/content-paste.svg');
}

.mm-icon-add {
  @include generateIcon('https://api.iconify.design/material-symbols/add.svg')
}

.mm-icon-minus {
  @include generateIcon('https://api.iconify.design/ic/baseline-minus.svg')
}

.mm-icon-delete {
  @include generateIcon('https://api.iconify.design/material-symbols/delete-outline.svg')
}

.mm-icon-overflow {
  @include generateIcon('https://api.iconify.design/carbon/overflow-menu-vertical.svg')
}

.mm-icon-arrow-left {
  @include generateIcon('https://api.iconify.design/ic/baseline-arrow-back-ios-new.svg')
}

.mm-icon-github {
  @include generateIcon('https://api.iconify.design/mdi/github.svg')
}

.mm-icon-instargram {
  @include generateIcon('https://api.iconify.design/ri/instagram-fill.svg')
}

.mm-icon-avatar-secured {
  @include generateIcon('https://api.iconify.design/ooui/user-avatar.svg')
}

.mm-icon-avatar-unsecured {
  @include generateIcon('https://api.iconify.design/ooui/user-avatar-outline.svg')
}

.mm-icon-lock {
  @include generateIcon('https://api.iconify.design/material-symbols/lock-outline.svg')
}

.mm-icon-search {
  @include generateIcon('https://api.iconify.design/material-symbols/search.svg')
}

.mm-icon-close {
  @include generateIcon('https://api.iconify.design/material-symbols/close.svg')
}

.mm-icon-mouse-scroll {
  @include generateIcon('https://api.iconify.design/iconoir/mouse-scroll-wheel.svg')
}

.mm-icon-arrow-top {
  @include generateIcon('https://api.iconify.design/ic/baseline-keyboard-arrow-up.svg')
}

.mm-icon-arrow-bottom {
  @include generateIcon('https://api.iconify.design/ic/baseline-keyboard-arrow-down.svg')
}


.mm-icon-bars {
  @include generateIcon('https://api.iconify.design/heroicons/bars-3-20-solid.svg')
}


.mm-icon-screen-xl {
  @include generateIcon('https://api.iconify.design/mdi/size-xl.svg')
}

.mm-icon-screen-l {
  @include generateIcon('https://api.iconify.design/mdi/size-l.svg')
}

.mm-icon-screen-m {
  @include generateIcon('https://api.iconify.design/mdi/size-m.svg')
}

.mm-icon-screen-s {
  @include generateIcon('https://api.iconify.design/mdi/size-s.svg')
}

.mm-icon-screen-size {
  @include generateIcon('https://api.iconify.design/fluent/slide-size-20-regular.svg')
}

.mm-icon-page {
  @include generateIcon('https://api.iconify.design/iconoir/empty-page.svg')
}

.mm-icon-eye {
  @include generateIcon('https://api.iconify.design/ic/outline-remove-red-eye.svg')
}

.mm-icon-spacing {
  @include generateIcon('https://api.iconify.design/mdi/format-paragraph-spacing.svg')
}

.mm-icon-outline {
  @include generateIcon('https://api.iconify.design/mdi/border-none-variant.svg')
}

.mm-icon-hidden {
  @include generateIcon('https://api.iconify.design/mdi/file-hidden.svg')
}

.mm-icon-marker {
  @include generateIcon('https://api.iconify.design/clarity/map-marker-line.svg')
}

.mm-icon-padding-left {
  @include generateIcon('https://api.iconify.design/fluent-mdl2/padding-left.svg')
}

.mm-icon-padding-top {
  @include generateIcon('https://api.iconify.design/fluent-mdl2/padding-top.svg')
}

.mm-icon-padding-right {
  @include generateIcon('https://api.iconify.design/fluent-mdl2/padding-right.svg')
}

.mm-icon-padding-bottom {
  @include generateIcon('https://api.iconify.design/fluent-mdl2/padding-bottom.svg')
}

.mm-icon-download {
  @include generateIcon('https://api.iconify.design/ic/baseline-save-alt.svg')
}

.mm-icon-html {
  @include generateIcon('https://api.iconify.design/material-symbols/html.svg')
}

.mm-icon-css {
  @include generateIcon('https://api.iconify.design/material-symbols/css.svg')
}

.mm-icon-json {
  @include generateIcon('https://api.iconify.design/carbon/json.svg')
}

.mm-icon-save {
  @include generateIcon('https://api.iconify.design/mdi/content-save-all-outline.svg')
}

.mm-icon-upload {
  @include generateIcon('https://api.iconify.design/material-symbols/file-open-outline.svg')
}

.mm-icon-child {
  @include generateIcon('https://api.iconify.design/clarity/child-arrow-line.svg')
}

.mm-icon-plus {
  @include generateIcon('https://api.iconify.design/mdi/plus.svg')
}

.mm-icon-parent {
  @include generateIcon('https://api.iconify.design/bi/arrow-bar-up.svg')
}

.mm-icon-arrow-up {
  @include generateIcon('https://api.iconify.design/ph/arrow-up-light.svg')
}

.mm-icon-select {
  @include generateIcon('https://api.iconify.design/material-symbols/gesture-select.svg')
}

.mm-icon-trash {
  @include generateIcon('https://api.iconify.design/mdi/trash-outline.svg')
}

.mm-icon-deselect {
  @include generateIcon('https://api.iconify.design/material-symbols/deselect.svg')
}

.mm-icon-add-widget {
  @include generateIcon('https://api.iconify.design/solar/widget-add-outline.svg')
}

.mm-icon-widget {
  @include generateIcon('https://api.iconify.design/solar/widget-linear.svg')
}

.mm-icon-line {
  @include generateIcon('https://api.iconify.design/uil/line-alt.svg')
}

.mm-icon-analyze {
  @include generateIcon('https://api.iconify.design/mdi/table-eye.svg')
}

.mm-icon-check {
  @include generateIcon('https://api.iconify.design/material-symbols/check.svg')
}